<?xml version="1.0"?>
<robot name="myfirst">

  <link name="world"/>

  <joint name="world_to_cylinder" type="fixed">
    <origin xyz="2 0 2" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="cylinder_link"/>
  </joint>

  <link name="cylinder_link">
    <visual>
      <geometry>
        <cylinder length="4" radius="0.25"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <cylinder length="4" radius="0.25"/>
      </geometry>
    </collision>
  </link>

  <joint name="world_to_sphere" type="fixed">
    <origin xyz="2 0 5.2" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="sphere_link"/>
  </joint>

    <link name="sphere_link">
    <visual>
      <geometry>
        <sphere radius="1.5"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <sphere radius="1.5"/>
      </geometry>
    </collision>
  </link>

  <!--<joint name="world_to_wall" type="fixed">
    <origin xyz="3 0 2.5" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="wall_link"/>
  </joint>

  <link name="wall_link">
    <visual>
      <geometry>
        <box size="0.3 5.0 5.0"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <box size="0.3 5.0 5.0"/>
      </geometry>
    </collision>
  </link>-->


</robot>